{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% load custom_tags %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}
<h1>Главные новости</h1>
<hr>

   <h3>Всего опубликовано: <mark>{{ news|length }}</mark></h3>
   <h3> Сегодня: {{ time_now|date:'M d Y' }}</h3>

        <a class="btn btn-primary" type="submit" href="search/">Поиск</a>
<br>
<br>

{% load cache %}
{% cache 100 submit %}
     {% if perms.news.add_post %}
    <a class="btn btn-primary" type="submit" href="create/">Опубликовать новость</a>
    {% endif %}
    <br>
    <br>
     {% if perms.news.add_post %}
    <a class="btn btn-primary" type="submit" href="articles/create/">Опубликовать статью</a>
    {% endif %}
    <br>
    <br>
<!--    {% if perms.news.add_post %}-->
<!--    <a class="btn btn-primary" type="submit" href="subscriptions/">Управление подписками</a>-->
<!--    {% endif %}-->
{% endcache %}

    <hr>
   {% if news %}
    <center>
       <table>
           <tr>

               <td><b>Заголовок</b></td>
               <td><b>Дата публикации</b></td>
               <td><b>Содержание</b></td>
               <td><b>Рейтин</b></td>

           </tr>

           {% for post in news%}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.post_time|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
               <td><center>{{ post.rating }}</center></td>
               {% if perms.news.change_post %}
               <td><a href="{% url 'post_update' pk=post.id %}"> Изменить </a></td>
               {% endif %}
               {% if perms.news.delete_post %}
               <td><a href="{% url 'post_delete' post.id %}"> Удалить </a></td>
               {% endif %}
           </tr>
           {% endfor %}

       </table>
    </center>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}